.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.elevator {
  width: 20px;
  height: 20px;
  background-color: #282c34;
}

.active-floor {
  background-color: rgb(177, 177, 177) !important;
}

.panel-btn:hover {
  background-color: rgb(0, 227, 235);
}

.panel-selected {
  background-color: rgb(0, 227, 235);
  color: #282c34;
}

.pt-20 {
  padding-top: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mr-5 {
  margin-right: 5px;
}
